@import url("https://fonts.googleapis.com/css2?family=Onest:wght@200;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: "Onest", sans-serif !important;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}
.m-shadow {
  box-shadow: 0px 4px 54px 0px rgba(23, 28, 30, 0.14);
}
.hover-card-shadow:hover {
  box-shadow: 0px 3px 12px 0px rgba(6, 158, 237, 0.8);
}
.btn-shadow {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
}
